<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INGENIERA {{name}}</h1>
    <h3>Categorías</h3>
    {#Hola soy yubitza#}
    <ul>
        {% for category in categories %}
            {% if category == 'girasoles' or category == 'jazmin' %}
                <li><b>{{category}}</b></li>
            {% else %}
                <li>{{category}}</li>
            {% endif %}
        {% endfor %}

    </ul>
</body>
</html>